@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/**FORM-CSS*/
.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    margin-top: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #0288D1; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*---------------------------*
/**HEADER **/

.header {
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.login_message{
    color: firebrick;
    font-weight: bold;
    display: none;
}
html {
    text-align:center;
    height: 100%;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background: #000;
}
nav div{
    display: inline-block;
}
.profile{
    float: left;
    min-height: 200px;
    width: 20%;
    background: #FFF;
    margin-left: 3%;
}
.search-bar{
    display: inline-block;
    width: 20%;
    margin: 0 38%;
}
input[name="search"]{
    width: 100%;
    height: 26px;
    border: none;
}
.home-container{
    margin: 0 auto;
    width: 90%;
    position: relative;
    height: 100%;
    top: 80px;
    z-index: -1;
}
.following-list{
    width: 20%;
    background: #FFF;
    float: left;
}
.sweets{
    width: 48%;
    float: left;
    min-height: 200px;
    background: #FFF;
    margin-left: 3%;
}

.following-list .following-user{
    padding: 15px;
    border-bottom: 1px #DDD solid;
}
.following-list .following-user .name{
    font-weight: bold;
    font-size: 1.2em;
}
.following-list .following-user .username{
    color: #AAA;
}

.sweets .sweet{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.sweets .sweet .user-info image{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.sweets .sweet .user-info .name{
    font-weight: bold;
    font-size: 1.1em;
    margin: 5px;
}

.sweets .sweet .user-info .username{
    font-size: 0.8em;
    color: #BBB;
}

.sweets .sweet .body {
    padding: 15px;
}

.sweets .sweet .reactions{
    text-align: right;
}

.sweets .sweet .likes{
    color: red;
    margin-right: 43px;
}
.sweets .comments .comment{
    padding: 10px 40px;
    border-bottom: 1px #BBB solid;
}
.sweets .sweet .add-comment{
    padding: 20px 40px;
}

.sweets .sweet .add-comment input{
    width: 75%;
    height: 25px;
}
.sweets .add-sweet{
    text-align: left;
    padding: 10px;
}
.sweets .add-sweet input {
    width: 75%;
    height: 25px;
}