<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Twister</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.upmc.twister.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.upmc.twister.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>com.upmc.twister.servlets.CreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Follow</servlet-name>
		<servlet-class>com.upmc.twister.servlets.FollowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnFollow</servlet-name>
		<servlet-class>com.upmc.twister.servlets.UnFollowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sweet</servlet-name>
		<servlet-class>com.upmc.twister.servlets.SweetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProfile</servlet-name>
		<servlet-class>com.upmc.twister.servlets.GetProfileByUsernameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetListUser</servlet-name>
		<servlet-class>com.upmc.twister.servlets.GetUserListByUsernameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetListFollowed</servlet-name>
		<servlet-class>com.upmc.twister.servlets.ListFollowedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSweetById</servlet-name>
		<servlet-class>com.upmc.twister.servlets.GetSweetByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProfileById</servlet-name>
		<servlet-class>com.upmc.twister.servlets.GetProfileByIdSerlvet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSweet</servlet-name>
		<servlet-class>com.upmc.twister.servlets.GetSweetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/user/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/user/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Follow</servlet-name>
		<url-pattern>/user/follow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnFollow</servlet-name>
		<url-pattern>/user/unfollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sweet</servlet-name>
		<url-pattern>/sweet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProfile</servlet-name>
		<url-pattern>/user/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetListUser</servlet-name>
		<url-pattern>/user/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetListFollowed</servlet-name>
		<url-pattern>/user/listFollowed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSweetById</servlet-name>
		<url-pattern>/sweet/getById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProfileById</servlet-name>
		<url-pattern>/user/getProfileById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSweet</servlet-name>
		<url-pattern>/sweet/getSweet</url-pattern>
	</servlet-mapping>
	
	
	<recource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/Database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</recource-ref>
	<filter>
  	<filter-name>CorsFilter</filter-name>
	  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CorsFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>